{% extends "blogs/_base.html" %}

{% block title %} 회원가입 {% endblock %}
{% block page %} signup {% endblock %}

{% block content %}
<div style="padding-left:50px; padding-top:50px;">
    <h1>Signup</h1>
    <hr>
    <form action="" method="POST">
        {{ user_form.as_p }}
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="submit">
    </form>
</div>
{% endblock %}

<!-- \(form.as_p는 폼의 각 필드를 p 태그 안에서 레이블과 텍스트로 배치한다). 
    폼을 랜더링하는 옵션으로 form, form.as_p, form.as_table, form.as_ul 등이 있는데, 
    이 옵션은 각 필드를 어떤 HTML 태그로 Wrapping 할 것인가를 지정하는 것이다. -->